$column			: 3;
$columnWidth	: 40px;
$columnMargin	: 10px;

@function setWidth($pColumn, $pColumnWith, $pColumnMargin) {
	
	@return $pColumnWith*$pColumn + ($pColumn + 1)*$pColumnMargin;
}

div {
	width: setWidth($column, $columnWidth, $columnMargin);
}
