$device_size_mobile		: 425px;
$device_size_small		: 768px;
$device_size_medium		: 992px;
$device_size_large		: 1200px;

/* 	================================================================================
	LARGE DEVICES 
	Large Desktops 1200px and Up (>1200) 
	================================================================================ */

@import "size_large";

/* 	================================================================================
	MEDIUM DEVICES
	Desktops 992px and Up (>992px & <1200px)
	================================================================================ */

@import "size_medium";

/* 	================================================================================
	SMALL DEVICES
	Tablets 768px and Up (>768px & <992px)
	================================================================================ */

@import "size_small";

/* 	================================================================================
	EXTRA SMALL
	(>425px & <768px)
	================================================================================ */

@import "size_extra_small";

/* 	================================================================================
	MOBILE SIZE
	Phones Less than 425px
	(<425px)
	================================================================================ */

@import "size_mobile";
