nav.header-menu {
	// Menu Level 1
	ul.menu {
		> li {
            display: inline-block;
			> a {
                @include setFont(16px, $color-white, bold );
                text-transform: uppercase;
                padding: 10px 24px;
			}

			&.activate, &:hover {
				> a {
                    @include setBorderRadius(5px);
                    @include setBoxShadowBottom(-4px, #47817E);
                    background: #62A29E;
				}
            }

            ul.sub-menu {
                display: none;
                li {
                    a {

                    }

                    ul.sub-sub-menu {
                        li {
                            a {
                                
                            }
                        }
                    }
                }
            }
		}
	}
}
