div.widget-ads {
	ul.widget-ads-list {
		list-style: none;
		@include clearfix;
		li {
			float: left;
			@include setColumn(2, 4%); //

			a {				
				display: block;
				img {
					width: 100%;
				}
				
				&:hover {
					zoom: 1;
					filter: alpha(opacity=50);
					opacity: 0.7;
				}
			}
		}
	}
}
