// Widget Address
div.widget-address {
	p {
		@include setFont(14px, $color-white);
		
		// Logo
		&.logo {
			margin-bottom: 20px;
			a {
				display: inline-block;
				img {
					width: 100%;
				}
			}
		}

		// Intro
		&.intro {
			line-height: 1.5em;
			width: 90%;
		}

		// Phone
		span {
			@include setFont(18px, $color-white);
			font-style: italic;
		}
		
		// Email
		a {
			@extend span;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
