/* ======================== FONTS ======================== */
$font-open-sans	: 'Open Sans', sans-serif;
$font-roboto	: 'Roboto Condensed', sans-serif;

$font-title		: $font-open-sans;
$font-text		: $font-open-sans;

/* ======================== LIST ======================== */
$heading: h1 h2 h3 h4 h5 h6;

/* ======================== COLORS ======================== */
$color-white	: #ffffff;

/* ======================== HEADER ======================== */
$header-color-background: #71C7C0;

/* ======================== BREADCRUMB ======================== */
$breadcrumb-color-background: #F3F3F3;
$breadcrumb-color-text: #62A09D;

/* ======================== WIDGETS ======================== */
$widget-margin-bottom: 40px;

/* ======================== URL ======================== */
$url-images: '../images/';
