/* ======================== FONTS ======================== */
$font-open-sans	: 'Open Sans', sans-serif;
$font-roboto	: 'Roboto Condensed', sans-serif;

$font-title		: $font-open-sans;
$font-text		: $font-open-sans;

/* ======================== HEADER ======================== */
$header-color-background: #71C7C0;