div.article {

    $distanceLine: 20px;
    margin-bottom: 50px;
    
	&:last-child {
		margin-bottom: 0px;
	}

	> * {
		margin-bottom: $distanceLine;
    }
    
	a.image {
        display: block;
		&:hover {
			zoom: 1;
			filter: alpha(opacity=80);
			opacity: 0.8;
		}
		img {
            width:100%;
        }
	}
	
	h3 {
        @include setTagAHover(#808B8D, #E55846);
		a {
			font-size: 20px;
			line-height: 1.2em;
		}
	}

	p.info {
		@include setFont(14px, #808B8D);
		@include setTagAHover(#E55846, #81BFBE);
		a {
			font-size: 14px;
			margin-right: 20px;
            display: inline;

			&:first-child {
				margin-right: 0px;	
			}
            
			i {
				color: #81BFBE;
				margin-right: 5px;
			}
		}
	}

	p.summary {
		@include setFont(14px, #7F8C8C);
	    line-height: 1.5em;
	}

	a.view-more {
		display: inline-block;
		@include setFont(14px, $color-white);
	    padding: 12px 30px;
	    background: #62A29E;
	    line-height: 20px;
	    text-transform: uppercase;
	    border-bottom: 3px solid #47817E;
	}
}