/* ======================== FONTS ======================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* ======================== VARIABLE ======================== */
/* ======================== FONTS ======================== */
/* ======================== LIST ======================== */
/* ======================== COLORS ======================== */
/* ======================== HEADER ======================== */
/* ======================== BREADCRUMB ======================== */
/* ======================== MIXIN ======================== */
/* ==================== BORDER RADIUS ==================== */
/* Ref: 
    http://www.w3schools.com/css/css3_borders.asp 
    http://border-radius.com/
    border-radius: tl tr br bl:
*/
/* ==================== BOX SHADOW ==================== */
/* Ref: 
    http://www.cssmatic.com/box-shadow
*/
/* ==================== Set Font ==================== */
/* ==================== HOVER A ==================== */
/* Ref: 
*/
/* ======================== RESET ======================== */
* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
}

h1 {
  margin: 0px;
  padding: 0px;
}

h2 {
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
  padding: 0px;
}

h4 {
  margin: 0px;
  padding: 0px;
}

h5 {
  margin: 0px;
  padding: 0px;
}

h6 {
  margin: 0px;
  padding: 0px;
}

.breadcrumb {
  padding: 0px;
  margin-bottom: 0px;
}

/* ======================== HEADER ======================== */
header {
  background-color: #71C7C0;
  padding: 4% 0;
}

header div.header-logo {
  margin-top: 10px;
}

header div.header-logo a {
  display: block;
}

header nav.header-menu ul.menu > li.activate > a, header nav.header-menu ul.menu > li:hover > a {
  background: #62A29E;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: inset 0px -4px 0px 0px #47817E;
  -webkit-box-shadow: inset 0px -4px 0px 0px #47817E;
  -moz-box-shadow: inset 0px -4px 0px 0px #47817E;
  -o-box-shadow: inset 0px -4px 0px 0px #47817E;
}

header nav.header-menu ul.sub-menu > li:hover > a, header nav.header-menu ul.sub-sub-menu > li:hover > a {
  background: #f0f0f0;
  border-left: 3px solid #62A29E;
  color: #797979;
}

header nav.header-menu ul li {
  list-style: none;
  position: relative;
  display: inline-block;
  z-index: 100;
}

header nav.header-menu ul li a {
  text-transform: uppercase;
  display: block;
}

header nav.header-menu ul.menu > li > a {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 24px;
}

header nav.header-menu ul.menu > li:hover ul.sub-menu {
  display: block;
}

header nav.header-menu ul.sub-menu, header nav.header-menu ul.sub-sub-menu {
  display: none;
  position: absolute;
  top: 42px;
  left: 0px;
}

header nav.header-menu ul.sub-menu > li, header nav.header-menu ul.sub-sub-menu > li {
  width: 155px;
}

header nav.header-menu ul.sub-menu > li > a, header nav.header-menu ul.sub-sub-menu > li > a {
  color: #ffffff;
  font-size: 13px;
  border-left: 3px solid #C03C35;
  background: #E2534B;
  padding: 10px 20px;
}

header nav.header-menu ul.sub-menu > li:hover > ul.sub-sub-menu, header nav.header-menu ul.sub-sub-menu > li:hover > ul.sub-sub-menu {
  display: block;
}

header nav.header-menu ul.sub-sub-menu {
  top: 0px;
  left: 155px;
}

header a.mobile-menu {
  display: none;
  width: 100%;
  padding: 12px;
  background: #528B86;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
}

header a.mobile-menu:hover {
  background: #447F7A;
}

/* ======================== DEVICES ======================== */
/* 	================================================================================
	LARGE DEVICES 
	Large Desktops 1200px and Up (>1200) 
	================================================================================ */
/* 	================================================================================
	MEDIUM DEVICES
	Desktops 992px and Up (>992px & <1200px)
	================================================================================ */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  header nav.header-menu ul.menu > li > a {
    padding: 10px 18px;
  }
}

/* 	================================================================================
	SMALL DEVICES
	Tablets 768px and Up (>768px & <992px)
	================================================================================ */
@media screen and (min-width: 768px) and (max-width: 992px) {
  header nav.header-menu ul.menu > li > a {
    padding: 8px 14px;
  }
  header {
    text-align: center;
  }
  header div.header-logo {
    float: none !important;
    margin-bottom: 10px;
  }
  header nav.header-menu {
    float: none !important;
  }
}

/* 	================================================================================
	EXTRA SMALL
	(>425px & <768px)
	================================================================================ */
@media screen and (min-width: 425px) and (max-width: 768px) {
  header nav.header-menu ul.menu > li > a {
    padding: 8px 18px;
  }
  header {
    text-align: center;
  }
  header div.header-logo {
    float: none !important;
    margin-bottom: 10px;
  }
  header nav.header-menu {
    float: none !important;
  }
}

/* 	================================================================================
	MOBILE SIZE
	Phones Less than 425px
	(<425px)
	================================================================================ */
@media screen and (max-width: 425px) {
  header div.header-logo, header nav.header-menu {
    float: none !important;
  }
  header nav.header-menu ul.menu {
    display: none;
  }
  header nav.header-menu ul.menu > li {
    display: block;
    width: 100%;
  }
  header nav.header-menu ul.menu > li a {
    background: #ffffff !important;
    color: #797979 !important;
    border-top: 1px solid #e0e0e0 !important;
  }
  header nav.header-menu ul.menu > li:hover a, header nav.header-menu ul.menu > li.activate a {
    background: #f0f0f0 !important;
    box-shadow: inset 0px 0px 0px 0px #47817E !important;
    -webkit-box-shadow: inset 0px 0px 0px 0px #47817E !important;
    -moz-box-shadow: inset 0px 0px 0px 0px #47817E !important;
    -o-box-shadow: inset 0px 0px 0px 0px #47817E !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -o-border-radius: 0px !important;
  }
  header nav.header-menu ul.menu > li ul {
    display: none;
  }
  a.mobile-menu {
    display: block !important;
    margin-top: 20px;
  }
  section.section-breadcrumb h3.title {
    font-size: 18px !important;
  }
}

/* ======================== ELEMENTS ======================== */
section.section-breadcrumb {
  background: #F3F3F3;
  padding: 2% 0;
}

section.section-breadcrumb h3.title {
  color: #62A09D;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

section.section-breadcrumb ol.breadcrumb li a {
  color: #62A09D;
  font-size: 14px;
}

section.section-breadcrumb ol.breadcrumb li a:hover {
  color: #F15F43;
}

section.section-breadcrumb ol.breadcrumb li.active {
  color: #888888;
}

div.article:last-child {
  margin-bottom: 0px;
}

div.article > * {
  margin-bottom: 20px;
}

div.article a.image {
  display: block;
}

div.article a.image:hover {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

div.article a.image img {
  width: 100%;
}

div.article h3 a {
  color: #808B8D;
}

div.article h3 a:hover {
  color: #E55846;
}

div.article h3 a {
  font-size: 20px;
  line-height: 1.2em;
}
