/* ======================== FONTS ======================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* ======================== VARIABLE ======================== */
/* ======================== FONTS ======================== */
/* ======================== HEADER ======================== */
/* ======================== MIXIN ======================== */
/* ======================== RESET ======================== */
* {
  font-family: "Open Sans", sans-serif;
}

/* ======================== HEADER ======================== */
header {
  background-color: #71C7C0;
  padding: 4% 0;
}

header div.header-logo {
  margin-top: 10px;
}

header div.header-logo a {
  display: block;
}
